.button {
    background-color: transparent;
    border: 1px dotted var(--light-grey);
    border-radius: 2px;
    padding: 2px 4px;
    cursor: pointer;
    color: var(--text);
}

.button:focus {
    border: 1px dotted var(--light-grey);
    background-color: var(--button-background-hover);
}

.button:hover {
    border: 1px dotted var(--light-grey);
    background-color: var(--button-background-hover);
}

.button:active {
    border: 1px dotted var(--light-grey);
    background-color: var(--button-background-active);
}
