.trackRowButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0;
    flex-shrink: 1;
    padding: 4px;
    margin: 0 8px 0 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
}

.trackRowButton:focus {
    border: var(--button-background-hover) 1px solid;
}

.trackRowButton:hover {
    background-color: var(--button-background-hover);
    border: 1px dotted var(--light-grey);
}

.trackRowButton:active {
    background-color: var(--button-background-active);
    border: 1px dotted var(--light-grey);
}

