.trackRowButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0;
    flex-shrink: 1;
    padding: 4px;
    margin: 0 8px 0 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
}

.trackRowButton:focus {
    border: var(--lighter-grey) 1px solid;
}

.trackRowButton:hover {
    background-color: #b7b7c2;
}

.trackRowButton:active {
    background-color: #91919a;
}
