.title {
    margin-bottom: 6px;
}

.playlistId {
    margin: 0 0 16px;
    font-size: 14px;
}

.rowPlaying {
    background-color: var(--lighter-grey);
}

.controlSpacer {
    margin-right: 8px;
}

.topBar {
    margin-bottom: 16px;
}
