.pagination {
    padding-top: 20px;
    display: flex;
}

.page {
    font-size: 13px;
    background-color: transparent;
    border: 1px dotted var(--light-grey);
    border-radius: 2px;
    padding: 2px 4px;
    cursor: pointer;
    color: var(--text);
    margin-right: 8px;
}

.page:focus {
    border: 1px dotted var(--light-grey);
    background-color: var(--button-background-hover);
}

.page:hover {
    border: 1px dotted var(--light-grey);
    background-color: var(--button-background-hover);
}

.page:active {
    border: 1px dotted var(--light-grey);
    background-color: var(--button-background-active);
}
