.sidebarWrapper {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    top: 20px;
    width: 100%;
    margin-right: 40px;
}

.mainContent {
    flex: 1;
}

.link {
    margin-right: 16px;
}

@media screen and (min-width: 1024px) {
    .sidebarWrapper {
        display: flex;
        flex-wrap: nowrap;
    }

    .sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        width: 280px;
        margin-right: 40px;
        height: 100vh;
    }
}
