.pageWrapper {
    padding: 20px 40px 110px;
}

.footer {
    margin-top: 40px;
    border-top: lightslategrey 1px dashed;
    font-size: 13px;
}

.active {
    color: lawngreen;
}

.twitter {
    position: relative;
    top: 3px;
    width: 16px;
}
