.player {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background-color: var(--player-background-color);
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
}

.active {
    color: var(--green);
}

.title {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.artists {
    margin: 0 0 16px;
    padding: 0;
    font-size: 16px;
}
