.trackLink {
    margin-left: auto;
    background-color: transparent;
    border: 1px dotted var(--light-grey);
    border-radius: 2px;
    padding: 2px 4px;
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
    font-size: 12px;
}

.trackLink:hover, .trackLink:active, .trackLink:focus {
    text-decoration: none;
    background-color: var(--light-grey);
}
