.trackLink {
    margin-left: auto;
    background-color: transparent;
    border: 1px dotted var(--light-grey);
    border-radius: 2px;
    padding: 2px 4px;
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
    font-size: 12px;
}

.trackLink:focus {
    border: var(--lighter-grey) 1px solid;
}

.trackLink:hover {
    background-color: var(--button-background-hover);
    border: 1px dotted var(--light-grey);
    text-decoration: none;
}

.trackLink:active {
    background-color: var(--button-background-active);
    border: 1px dotted var(--light-grey);
    text-decoration: none;
}

